* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 { color: #ffffff; font-family: 'Roboto', sans-serif; font-size: 50px; }

/*header*/

.header { 
    width: 100%;
    display: flex; 
    position: absolute;
    border-bottom: 5px solid #000000; 
}

.header img { padding: 20px 30px; display: block; }

.header .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb700;
}

/*footer*/

.footer {
    width: 100%; height: 40px;
    position: fixed; bottom: 0;
    background-color: #616161;
}

.footer #play_media {
    color: #e0e0e0;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 7px; right: 2%;
}

.footer #play_media:hover {
    transition: 0.5s;
    color: #ffb700;
}

/*display media*/

.media .content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.insertedVideo {
    width: 100%;
    height: 100%;
    display: block;
}

/*
.content img {
    height: 100%;
    margin: auto;
    display: block;
}
*/